In [1]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#show every column
pd.set_option('display.max_columns', None)

## Joining the data

First of all, since we have three datasets, let's join them all into one big dataset.

In [2]:
data_houses = pd.read_csv("dataset_houses_with_population.csv")
data_houses['Building type'] = 0
data_apartments = pd.read_csv("dataset_apartments_with_population.csv")
data_apartments['Building type'] = 1
data_sharehouses = pd.read_csv("dataset_sharehouses_with_population.csv")
data_sharehouses['Building type'] = 2

data = pd.concat([data_houses, data_apartments, data_sharehouses])
data['id'] = np.arange(start = 1, stop = len(data) + 1, step = 1)

data = data.drop(columns="Unnamed: 0")
data

,Title,Description,Link,Location,Price,Rooms,Total area,Number of floors,Condition,Readiness,Ground area,Cadastre no.,Energy mark,Lisainfo,Neighbourhood,Bedrooms,Built in year,Ownership,Notify about incorrect advertisement,Kitchen,Sanitary arrangements,Heating and ventilation,Communications and security,Data from realestate book,Register number,Additional information,This floor/Number of floors,Kulud suvel/talvel,population,Building type,id
0,"House for sale, Parkali 42, Paide linn, Paide,...",Total area 81.5 m²,https://www.kv.ee/muua-paide-linnas-valguskull...,"58.8837293,25.5777054",69000.0,5.0,81.5 m²,2.0,needs renovating,ready,858 m²,56601:007:1250,-,"farm building, 3*380V","water body lake near, roads in good condition ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3053.0,0,1
1,"House for sale, 3 bedrooms, Rookse, Kastre val...","Private ownership, wooden house, total area 16...",https://www.kv.ee/kinnisturebase-kinnistu-suur...,"58.240051969621,27.017403252405",240000.0,4.0,160.3 m²,1.0,all brand-new,NaN,69200 m²,NaN,NaN,"new sewerage, kitchen, open kitchen, electrici...","near forest, water body river near",3.0,2019.0,private property,Notify about incorrect advertisement,"ceramic shove, refridgerator","bath, water boiler, sauna, shower, local water",geothermic heating,"steel door, video cameras, fenced with garden",NaN,NaN,NaN,NaN,NaN,6.0,0,2
2,"House for sale, 4 bedrooms, Käänu tn, Haaberst...","Private ownership, stone house, total area 267...",https://www.kv.ee/muua-vaga-heas-seisukorras-k...,"59.4394199,24.5724249",550000.0,6.0,267.3 m²,2.0,Good condition,ready,846 m²,NaN,Missing,"balcony 9.7 m², parquet, garage, parking free ...","surrounding buildings private houses, location...",4.0,NaN,private property,Notify about incorrect advertisement,"ceramic shove, refridgerator, kitchen furniture","toilet room and bathroom separate, bath, showe...","conditioner, geothermic heating",fenced with garden,Data from realestate book,NaN,NaN,NaN,NaN,373.0,0,3
3,"House for sale, 3 bedrooms, Välja tee 6, Suuru...","Private ownership, house area 122 m², total ar...",https://www.kv.ee/hubane-maja-tallinna-lahedal...,"59.4641212,24.3978224",280000.0,4.0,122 m²,2.0,Good condition,ready,NaN,NaN,-,"public transport, box-room, TV-set, terrace, e...",NaN,3.0,2006.0,private property,Notify about incorrect advertisement,NaN,NaN,NaN,NaN,Data from realestate book,8606802.0,NaN,NaN,NaN,95.0,0,4
4,"House for sale, 1 bedrooms, Silmakese, Aakre, ...","Private ownership, log house, total area 81 m²",https://www.kv.ee/muua-audentsete-taluhooneteg...,"58.101587177111,26.187740990491",95000.0,3.0,81 m²,1.0,ready,NaN,21100 m²,NaN,NaN,"electricity, box-room, garret, frontdoor locke...",NaN,1.0,1911.0,private property,Notify about incorrect advertisement,NaN,"sauna, water boiler, bath","stove heating, õhksoojuspump, fireplace",NaN,Data from realestate book,NaN,NaN,NaN,NaN,8.0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,"Maisonette for sale, 3 bedrooms, Kopra tee 1, ...","Apartment ownership, wooden house, total area ...",https://www.kv.ee/muua-vaga-hea-asukohaga-skan...,"59.358238,24.807334",299500.0,4.0,123.4 m²,NaN,Good condition,NaN,1702 m²,NaN,A,"ventilation, dressing room, box-room, furnishi...",NaN,3.0,2009.0,apartment ownership,Notify about incorrect advertisement,"electric stove, kitchen furniture",urban water,"gas heating, heated floors, heated floors",neighbourhood watch,Data from realestate book,NaN,NaN,2/2,NaN,23.0,2,7429
497,"Row house box for sale, 3 bedrooms, Vägeva tee...",Total area 98.9 m²,https://www.kv.ee/muua-korgelt-hinnatud-peetri...,"59.392273,24.8166245",265000.0,4.0,98.9 m²,2.0,Good condition,ready,NaN,65301:001:1141,NaN,"balcony 8 m², TV-set, terrace, electricity, dr...","location in the center location, roads in good...",3.0,2007.0,NaN,Notify about incorrect advertisement,"induktsioon pliit, refridgerator, kitchen furn...","bath, shower, water boiler, sauna, local water...","heated floors, gas heating, fireplace","Internet, cable TV, neighbourhood watch, fence...",Data from realestate book,NaN,NaN,NaN,NaN,1485.0,2,7430
498,"Row house box for sale, Elmar Kitse 1, Ihaste,...","Apartment ownership, stone house, total area 1...",https://www.kv.ee/muua-hubane-ridaelamuboks-tu...,"58.357860341137,26.784587501263",209000.0,5.0,188.8 m²,2.0,ready,NaN,5905 m²,79517:056:0001,NaN,"balcony , balcony 4.4 m², kitchen, electricity...","roads paved roads, near forest",NaN,1990.0,apartment ownership,Notify about incorrect advertisement,"electric stove, refridgerator, kitchen furniture","bath, sauna, shower, toilet room and bathroom ...","central heating, fireplace, conditioner",Internet,NaN,NaN,NaN,NaN,NaN,284.0,2,7431
499,"Row house box for sale, 3 bedrooms, Vikerkaare...","Apartment ownership, stone house, total area 1...",https://www.kv.ee/uus-elamurajoon-viimsi-alevi...,"59.5065597,24.8477704",330000.0,4.0,144.3 m²,2.0,all brand-new,NaN,1799 m²,NaN,NaN,"balcony , open kitchen, box-room, 3*380V, sepa...",NaN,3.0,2021.0,apartment ownership,Notify about incorrect advertisement,kitchen 10.7 m²,"sauna, shower, toilet room and bathroom separa...","õhksoojuspump, fireplace","Internet, cable TV, fenced with garden, neighb...",NaN,NaN,NaN,NaN,NaN,663.0,2,7432
500,"Row house box for sale, 3 bedrooms, Pirnipuu p...","Apartment ownership, stone house, house area 9...",https://www.kv.ee/nuud-on-muugil-pirnipuu-kodu...,"59.4678824,24.9600172",235000.0,4.0,101.1 m²,2.0,all brand-new,NaN,1024 m²,NaN,A,"balcony 5.4 m², electricity, 3*380V, packet wi...",NaN,3.0,2022.0,apartment ownership,Notify about incorrect advertisement,"electric stove, kitchen 8.2 m²","sauna, urban water, sewerage","heated floors, õhksoojuspump",NaN,Data from realestate book,NaN,NaN,NaN,NaN,156.0,2,7433

## Exploratory analysis

We will now do a quick exploratory data analysis.

In [3]:
# Describe the numeric attributes.
data.describe()

,Price,Rooms,Number of floors,Bedrooms,Built in year,Register number,population,Building type,id
count,7.208000e+03,7057.000000,2655.000000,1644.000000,6136.000000,8.660000e+02,7433.000000,7433.000000,7433.000000
mean,1.731437e+05,3.405696,1.889642,3.259732,1985.422588,8.405146e+06,3068.412350,0.751379,3717.000000
std,2.241615e+05,2.383852,0.910184,1.795052,62.226690,1.690184e+07,4697.483722,0.567147,2145.866608
min,5.000000e+03,1.000000,1.000000,1.000000,1.000000,1.600000e+01,0.000000,0.000000,1.000000
25%,6.000000e+04,2.000000,1.000000,3.000000,1968.000000,1.782114e+06,75.000000,0.000000,1859.000000
50%,1.280000e+05,3.000000,2.000000,3.000000,1992.000000,3.047403e+06,1164.000000,1.000000,3717.000000
75%,2.150000e+05,4.000000,2.000000,4.000000,2021.000000,9.863150e+06,4282.000000,1.000000,5575.000000
max,6.950000e+06,47.000000,19.000000,33.000000,2105.000000,1.208426e+08,26147.000000,2.000000,7433.000000

In [4]:
data.describe(include=[object])

,Title,Description,Link,Location,Total area,Condition,Readiness,Ground area,Cadastre no.,Energy mark,Lisainfo,Neighbourhood,Ownership,Notify about incorrect advertisement,Kitchen,Sanitary arrangements,Heating and ventilation,Communications and security,Data from realestate book,Additional information,This floor/Number of floors,Kulud suvel/talvel
count,7433,7433,7433,7266,7292,6570,1174,2077,3926,5464,6012,4075,6496,3642,4692,5768,5968,4967,4122,547,4545,448
unique,6205,2607,7433,5318,2019,8,5,1569,2853,10,4624,1666,7,1,392,1296,606,586,1,476,161,234
top,"Apartment for sale, 2 rooms, Järve 2, Kristiin...","Apartment ownership, stone house",https://www.kv.ee/taielikult-renoveeritud-kahe...,"59.3097965,24.8367254",120 m²,all brand-new,ready,600 m²,79301:001:0866,Missing,"ventilation, parquet, lift, parking free parking",roads paved roads,apartment ownership,Notify about incorrect advertisement,open kitchen,shower,central heating,frontdoor locked,Data from realestate book,"underground garage, box-room, new electricity,...",1/2,60 € / 120 €
freq,21,1942,1,44,51,2226,1036,24,36,1581,83,269,4273,3642,666,384,1855,427,4122,20,436,18

In [5]:
data.columns

Index(['Title', 'Description', 'Link', 'Location', 'Price', 'Rooms',
       'Total area', 'Number of floors', 'Condition', 'Readiness',
       'Ground area', 'Cadastre no.', 'Energy mark', 'Lisainfo',
       'Neighbourhood', 'Bedrooms', 'Built in year', 'Ownership',
       'Notify about incorrect advertisement', 'Kitchen',
       'Sanitary arrangements', 'Heating and ventilation',
       'Communications and security', 'Data from realestate book',
       'Register number', 'Additional information',
       'This floor/Number of floors', 'Kulud suvel/talvel', 'population',
       'Building type', 'id'],
      dtype='object')

## Cleaning the data

First, drop the columns which are useless for predicting the prices. Apart from the obvious ones, drop also the summer/winter costs because there are so few samples.

In [6]:
data.drop(columns=["Location", "Title", "Description", "Link", "Cadastre no.", "Data from realestate book", "Notify about incorrect advertisement", "Kulud suvel/talvel"], inplace=True)

data.describe(include=[object])
data.columns

,Total area,Condition,Readiness,Ground area,Energy mark,Lisainfo,Neighbourhood,Ownership,Kitchen,Sanitary arrangements,Heating and ventilation,Communications and security,Additional information,This floor/Number of floors
count,7292,6570,1174,2077,5464,6012,4075,6496,4692,5768,5968,4967,547,4545
unique,2019,8,5,1569,10,4624,1666,7,392,1296,606,586,476,161
top,120 m²,all brand-new,ready,600 m²,Missing,"ventilation, parquet, lift, parking free parking",roads paved roads,apartment ownership,open kitchen,shower,central heating,frontdoor locked,"underground garage, box-room, new electricity,...",1/2
freq,51,2226,1036,24,1581,83,269,4273,666,384,1855,427,20,436

Index(['Price', 'Rooms', 'Total area', 'Number of floors', 'Condition',
       'Readiness', 'Ground area', 'Energy mark', 'Lisainfo', 'Neighbourhood',
       'Bedrooms', 'Built in year', 'Ownership', 'Kitchen',
       'Sanitary arrangements', 'Heating and ventilation',
       'Communications and security', 'Register number',
       'Additional information', 'This floor/Number of floors', 'population',
       'Building type', 'id'],
      dtype='object')

## Separating features

First, what are the unique feature values in the column "Lisainfo".

In [7]:
def find_unique_features(dataset, column):
    unique_features = set()

    for entry in dataset[column].unique():
        if not pd.isna(entry):
            features = entry.strip().split(", ")
            #print(features)
            unique_features.update(features)

    return unique_features

unique_features = find_unique_features(data, "Lisainfo")
unique_features

{'3*380V',
 'TV-set',
 'balcony',
 'balcony ',
 'balcony 0.5 m²',
 'balcony 0.9 m²',
 'balcony 1 m²',
 'balcony 1.4 m²',
 'balcony 1.5 m²',
 'balcony 1.6 m²',
 'balcony 1.8 m²',
 'balcony 10 m²',
 'balcony 10.0 m²',
 'balcony 10.2 m²',
 'balcony 10.3 m²',
 'balcony 10.4 m²',
 'balcony 10.5 m²',
 'balcony 10.6 m²',
 'balcony 10.7 m²',
 'balcony 10.8 m²',
 'balcony 10.9 m²',
 'balcony 11 m²',
 'balcony 11.1 m²',
 'balcony 11.2 m²',
 'balcony 11.4 m²',
 'balcony 11.5 m²',
 'balcony 11.6 m²',
 'balcony 11.7 m²',
 'balcony 11.8 m²',
 'balcony 12 m²',
 'balcony 12.1 m²',
 'balcony 12.2 m²',
 'balcony 12.3 m²',
 'balcony 12.4 m²',
 'balcony 12.5 m²',
 'balcony 12.6 m²',
 'balcony 12.7 m²',
 'balcony 12.8 m²',
 'balcony 12.9 m²',
 'balcony 13 m²',
 'balcony 13.1 m²',
 'balcony 13.2 m²',
 'balcony 13.3 m²',
 'balcony 13.4 m²',
 'balcony 13.5 m²',
 'balcony 13.6 m²',
 'balcony 13.8 m²',
 'balcony 13.9 m²',
 'balcony 14 m²',
 'balcony 14.1 m²',
 'balcony 14.2 m²',
 'balcony 14.3 m²',
 'balcony 14.4 m²',
 'balcony 14.6 m²',
 'balcony 14.7 m²',
 'balcony 15 m²',
 'balcony 15.2 m²',
 'balcony 15.6 m²',
 'balcony 15.8 m²',
 'balcony 16 m²',
 'balcony 167 m²',
 'balcony 17 m²',
 'balcony 17.1 m²',
 'balcony 17.5 m²',
 'balcony 17.6 m²',
 'balcony 17.8 m²',
 'balcony 18 m²',
 'balcony 18.2 m²',
 'balcony 18.8 m²',
 'balcony 19.1 m²',
 'balcony 19.2 m²',
 'balcony 19.3 m²',
 'balcony 19.5 m²',
 'balcony 2 m²',
 'balcony 2.1 m²',
 'balcony 2.2 m²',
 'balcony 2.3 m²',
 'balcony 2.4 m²',
 'balcony 2.5 m²',
 'balcony 2.6 m²',
 'balcony 2.7 m²',
 'balcony 2.8 m²',
 'balcony 2.9 m²',
 'balcony 20 m²',
 'balcony 20.3 m²',
 'balcony 21 m²',
 'balcony 21.6 m²',
 'balcony 21.8 m²',
 'balcony 21.9 m²',
 'balcony 22.2 m²',
 'balcony 22.3 m²',
 'balcony 22.9 m²',
 'balcony 23.8 m²',
 'balcony 24 m²',
 'balcony 24.4 m²',
 'balcony 24.5 m²',
 'balcony 24.9 m²',
 'balcony 25 m²',
 'balcony 25.2 m²',
 'balcony 25.4 m²',
 'balcony 25.7 m²',
 'balcony 27 m²',
 'balcony 27.7 m²',
 'balcony 28.6 m²',
 'balcony 29 m²',
 'balcony 29.7 m²',
 'balcony 3 m²',
 'balcony 3.1 m²',
 'balcony 3.2 m²',
 'balcony 3.3 m²',
 'balcony 3.4 m²',
 'balcony 3.5 m²',
 'balcony 3.6 m²',
 'balcony 3.7 m²',
 'balcony 3.8 m²',
 'balcony 3.9 m²',
 'balcony 30 m²',
 'balcony 31.5 m²',
 'balcony 31.8 m²',
 'balcony 31.9 m²',
 'balcony 32 m²',
 'balcony 33.2 m²',
 'balcony 33.7 m²',
 'balcony 33.8 m²',
 'balcony 34 m²',
 'balcony 34.2 m²',
 'balcony 35 m²',
 'balcony 35.7 m²',
 'balcony 35.8 m²',
 'balcony 37 m²',
 'balcony 38 m²',
 'balcony 38.7 m²',
 'balcony 38.9 m²',
 'balcony 39.9 m²',
 'balcony 4 m²',
 'balcony 4.1 m²',
 'balcony 4.2 m²',
 'balcony 4.3 m²',
 'balcony 4.4 m²',
 'balcony 4.5 m²',
 'balcony 4.6 m²',
 'balcony 4.7 m²',
 'balcony 4.8 m²',
 'balcony 4.9 m²',
 'balcony 40 m²',
 'balcony 40.8 m²',
 'balcony 41.2 m²',
 'balcony 41.7 m²',
 'balcony 42.3 m²',
 'balcony 44.1 m²',
 'balcony 44.4 m²',
 'balcony 44.6 m²',
 'balcony 45 m²',
 'balcony 45.5 m²',
 'balcony 46 m²',
 'balcony 48.3 m²',
 'balcony 49.1 m²',
 'balcony 49.5 m²',
 'balcony 5 m²',
 'balcony 5.1 m²',
 'balcony 5.2 m²',
 'balcony 5.4 m²',
 'balcony 5.5 m²',
 'balcony 5.6 m²',
 'balcony 5.7 m²',
 'balcony 5.8 m²',
 'balcony 5.9 m²',
 'balcony 50 m²',
 'balcony 50.6 m²',
 'balcony 51.2 m²',
 'balcony 52 m²',
 'balcony 52.1 m²',
 'balcony 52.7 m²',
 'balcony 53 m²',
 'balcony 55 m²',
 'balcony 55.1 m²',
 'balcony 57.9 m²',
 'balcony 58 m²',
 'balcony 59 m²',
 'balcony 6 m²',
 'balcony 6.1 m²',
 'balcony 6.2 m²',
 'balcony 6.3 m²',
 'balcony 6.4 m²',
 'balcony 6.5 m²',
 'balcony 6.6 m²',
 'balcony 6.7 m²',
 'balcony 6.8 m²',
 'balcony 6.9 m²',
 'balcony 60.5 m²',
 'balcony 62 m²',
 'balcony 66.6 m²',
 'balcony 7 m²',
 'balcony 7.1 m²',
 'balcony 7.2 m²',
 'balcony 7.3 m²',
 'balcony 7.4 m²',
 'balcony 7.5 m²',
 'balcony 7.6 m²',
 'balcony 7.7 m²',
 'balcony 7.8 m²',
 'balcony 7.9 m²',
 'balcony 70 m²',
 'balcony 73 m²',
 'balcony 73.3 m²',
 'balcony 75.7 m²',
 'balcony 8 m²',
 'balcony 8.1 m²',
 'balcony 8.2 m²',
 'balcony 8.3 m²',
 'balcony 8.4 m²',
 'balcony 8.5 m²',
 'balcony 8.6 m²',
 'balcony 8.8 m²',
 'balcony 8.9 m²',
 'balcony 80 m²',
 'balcony 81.7 m²',
 'balcony 86 m²',
 'balcony 9 m²',
 'balcony 9.1 m²',
 'balcony 9.2 m²',
 'balcony 9.3 m²',
 'balcony 9.4 m²',
 'balcony 9.5 m²',
 'balcony 9.6 m²',
 'balcony 9.7 m²',
 'balcony 9.8 m²',
 'balcony 9.9 m²',
 'basement',
 'box-room',
 'cloak room',
 'closed balcony',
 'closed courtyard',
 'deep well',
 'distance from Tallinn 1 km',
 'distance from Tallinn 100 km',
 'distance from Tallinn 110 km',
 'distance from Tallinn 13 km',
 'distance from Tallinn 14 km',
 'distance from Tallinn 15 km',
 'distance from Tallinn 2 km',
 'distance from Tallinn 234 km',
 'distance from Tallinn 25 km',
 'distance from Tallinn 3 km',
 'distance from Tallinn 30 km',
 'distance from Tallinn 39 km',
 'distance from Tallinn 55 km',
 'distance from Tallinn 60 km',
 'distance from Tallinn 65 km',
 'distance from Tallinn 87 km',
 'distance from Tallinn 9 km',
 'distance from Tallinn 98 km',
 'dressing room',
 'electricity',
 'farm building',
 'fenced with garden',
 'frontdoor locked',
 'furnishing possibility',
 'furniture',
 'garage',
 'garret',
 'gas',
 'goods lift',
 'high ceilings',
 'kitchen',
 'lift',
 'liquid fuel',
 'local water',
 'near forest',
 'new electricity',
 'new sewerage',
 'open kitchen',
 'organisation through the few floors',
 'other wall',
 'packet windows',
 'parking free parking',
 'parking not available parking',
 'parking not free parking',
 'parquet',
 'public transport',
 'roof apartment',
 'roof asbestos cement roof',
 'roof profiled roof',
 'roof shingle roof',
 'roof tar paper roof',
 'roof tiled roof',
 'roof tin roof',
 'separate entryway',
 'separate rooms',
 'sewerage',
 'show case windows',
 'street entrance',
 'terrace',
 'trestle',
 'underground garage',
 'urban water',
 'ventilation',
 'wall brick wall',
 'wall ceramisite wall',
 'wall cinder block wall',
 'wall cupboard',
 'wall fieldstone wall',
 'wall flagstone wall',
 'wall wooden wall',
 'water',
 'well'}

Extract numeric features from "Lisainfo"

In [8]:
data_balcony = []
data_balcony_size = []

for i in data["Lisainfo"].values:
    balcony = 0 #Base values
    balcony_size = 0.0
    
    if not pd.isna(i):
        features = i.strip().split(", ")
        
        for feature in features:
            if feature.find("balcony") == 0:
                balcony = 1
                balcony_el = feature.strip().split()
                if len(balcony_el) > 1:
                    balcony_size = float(balcony_el[1])
                    
    data_balcony.append(balcony)
    data_balcony_size.append(balcony_size)

data["Balcony"] = data_balcony
data["Balcony size"] = data_balcony_size

In [9]:
#Probably don't care about that feature
data_dist_from_Tallinn = []

for i in data["Lisainfo"].values:
    dist_from_Tallinn = 0.0
    
    if not pd.isna(i):
        features = i.strip().split(", ")
        
        for feature in features:
            if feature.find("distance from Tallinn") != -1:
                dist_from_Tallinn = float(feature.strip().split()[3])
    data_dist_from_Tallinn.append(dist_from_Tallinn)

data["Distance from Tallinn"] = data_dist_from_Tallinn

Extract categorical features from "Lisainfo".

In [10]:
data_addition = []

for i in data["Lisainfo"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("parking") != -1:
                current = ' '.join(feature.strip().split()[1:-1])
    data_addition.append(current)

data["Parking"] = data_addition

In [11]:
data_addition = []

for i in data["Lisainfo"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("wall") != -1:
                current = ' '.join(feature.strip().split()[1:])
    data_addition.append(current)

data["Wall"] = data_addition

In [12]:
data_addition = []

for i in data["Lisainfo"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("roof") != -1:
                current = ' '.join(feature.strip().split()[1:-1])
    data_addition.append(current)

data["Roof"] = data_addition

Remove the now separated features from 'unique features' "Lisainfo"

In [13]:
filtered_unique_features = [ x for x in unique_features if "balcony" not in x and 
                                                            "distance from Tallinn" not in x and 
                                                            "parking" not in x and
                                                            "wall" not in x and 
                                                            "roof" not in x ]

Separate the remaining features

In [14]:
def separate(dataset, uniques, column):
    for unique_feature in uniques:
        data_addition = []

        for i in data[column].values:
            current = False

            if not pd.isna(i):
                features = i.strip().split(", ")

                for feature in features:
                    if feature.find(unique_feature) != -1:
                        current = True
            data_addition.append(current)

        dataset[unique_feature] = data_addition
        
separate(data, filtered_unique_features, "Lisainfo")
data.drop(columns=["Lisainfo"], inplace=True)

Find unique features in "Kitchen"

In [15]:
unique_features = find_unique_features(data, "Kitchen")
unique_features

{'ceramic shove',
 'electric stove',
 'gas stove',
 'induktsioon pliit',
 'kitchen ',
 'kitchen 0.0 m²',
 'kitchen 1 m²',
 'kitchen 10 m²',
 'kitchen 10.0 m²',
 'kitchen 10.4 m²',
 'kitchen 10.7 m²',
 'kitchen 10.8 m²',
 'kitchen 10.9 m²',
 'kitchen 11 m²',
 'kitchen 11.3 m²',
 'kitchen 11.5 m²',
 'kitchen 11.7 m²',
 'kitchen 11.8 m²',
 'kitchen 12 m²',
 'kitchen 12.2 m²',
 'kitchen 12.3 m²',
 'kitchen 12.5 m²',
 'kitchen 12.7 m²',
 'kitchen 12.8 m²',
 'kitchen 12.9 m²',
 'kitchen 13 m²',
 'kitchen 13.4 m²',
 'kitchen 13.7 m²',
 'kitchen 137 m²',
 'kitchen 14 m²',
 'kitchen 14.1 m²',
 'kitchen 14.5 m²',
 'kitchen 14.6 m²',
 'kitchen 141.4 m²',
 'kitchen 15 m²',
 'kitchen 15.1 m²',
 'kitchen 15.5 m²',
 'kitchen 15.6 m²',
 'kitchen 15.8 m²',
 'kitchen 16 m²',
 'kitchen 16.0 m²',
 'kitchen 16.3 m²',
 'kitchen 16.7 m²',
 'kitchen 17 m²',
 'kitchen 17.7 m²',
 'kitchen 17.8 m²',
 'kitchen 18 m²',
 'kitchen 18.1 m²',
 'kitchen 18.5 m²',
 'kitchen 19 m²',
 'kitchen 19.3 m²',
 'kitchen 19.4 m²',
 'kitchen 2 m²',
 'kitchen 20 m²',
 'kitchen 20.2 m²',
 'kitchen 20.3 m²',
 'kitchen 20.8 m²',
 'kitchen 20.9 m²',
 'kitchen 21 m²',
 'kitchen 21.7 m²',
 'kitchen 22 m²',
 'kitchen 22.2 m²',
 'kitchen 22.4 m²',
 'kitchen 22.6 m²',
 'kitchen 23 m²',
 'kitchen 23.3 m²',
 'kitchen 23.4 m²',
 'kitchen 24.4 m²',
 'kitchen 24.8 m²',
 'kitchen 25 m²',
 'kitchen 25.1 m²',
 'kitchen 26 m²',
 'kitchen 26.5 m²',
 'kitchen 27.5 m²',
 'kitchen 28 m²',
 'kitchen 3 m²',
 'kitchen 3.2 m²',
 'kitchen 3.3 m²',
 'kitchen 30 m²',
 'kitchen 30.2 m²',
 'kitchen 32.2 m²',
 'kitchen 32.6 m²',
 'kitchen 35 m²',
 'kitchen 39 m²',
 'kitchen 4 m²',
 'kitchen 4.0 m²',
 'kitchen 40 m²',
 'kitchen 45 m²',
 'kitchen 5 m²',
 'kitchen 5.1 m²',
 'kitchen 5.2 m²',
 'kitchen 5.3 m²',
 'kitchen 5.4 m²',
 'kitchen 5.5 m²',
 'kitchen 5.6 m²',
 'kitchen 5.7 m²',
 'kitchen 5.8 m²',
 'kitchen 5.9 m²',
 'kitchen 55 m²',
 'kitchen 6 m²',
 'kitchen 6.2 m²',
 'kitchen 6.3 m²',
 'kitchen 6.5 m²',
 'kitchen 6.6 m²',
 'kitchen 6.8 m²',
 'kitchen 7 m²',
 'kitchen 7.1 m²',
 'kitchen 7.2 m²',
 'kitchen 7.3 m²',
 'kitchen 7.4 m²',
 'kitchen 7.5 m²',
 'kitchen 7.6 m²',
 'kitchen 7.7 m²',
 'kitchen 7.8 m²',
 'kitchen 71 m²',
 'kitchen 75 m²',
 'kitchen 8 m²',
 'kitchen 8.0 m²',
 'kitchen 8.1 m²',
 'kitchen 8.2 m²',
 'kitchen 8.4 m²',
 'kitchen 8.5 m²',
 'kitchen 8.6 m²',
 'kitchen 8.7 m²',
 'kitchen 8.8 m²',
 'kitchen 8.9 m²',
 'kitchen 9 m²',
 'kitchen 9.1 m²',
 'kitchen 9.2 m²',
 'kitchen 9.3 m²',
 'kitchen 9.4 m²',
 'kitchen 9.5 m²',
 'kitchen 9.6 m²',
 'kitchen 9.7 m²',
 'kitchen 9.8 m²',
 'kitchen 9.9 m²',
 'kitchen furniture',
 'open kitchen',
 'refridgerator',
 'stove heated with firewood'}

Extract numeric features from "Kitchen"

In [16]:
#Probably don't care about that feature, too few entries
data_kitchen_size = []

for i in data["Kitchen"].values:
    kitchen_size = np.nan
    
    if not pd.isna(i):
        features = i.strip().split(", ")
        
        for feature in features:
            if feature.find("m²") != -1:
                kitchen_size = float(feature.strip().split()[1])
    data_kitchen_size.append(kitchen_size)

data["Kitchen size"] = data_kitchen_size

Extract categorical features from "Kitchen"

In [17]:
data_addition = []

for i in data["Kitchen"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("heated with firewood") != -1:
                current = ' '.join(feature.strip().split()[1:])
            elif feature.find("shove") != -1 or feature.find("stove") != -1 or feature.find("pliit") != -1:
                current = feature.strip().split()[0]
            
    data_addition.append(current)

data["Stove type"] = data_addition

Separate the remaining features

In [18]:
separate(data, {'kitchen furniture','open kitchen','refridgerator'}, "Kitchen")
data.drop(columns=["Kitchen"], inplace=True)

Find unique features in "Sanitary arrangements"

In [19]:
unique_features = find_unique_features(data, "Sanitary arrangements")
unique_features

{'bath',
 'local water',
 'new sewerage',
 'pool',
 'sauna',
 'sewerage',
 'shower',
 'toilet room and bathroom separate',
 'urban water',
 'washing machine',
 'water boiler'}

Extract features from "Sanitary arrangements"

In [20]:
separate(data, unique_features, "Sanitary arrangements")
data.drop(columns=["Sanitary arrangements"], inplace=True)

Find unique features in "Heating and ventilation"

In [21]:
unique_features = find_unique_features(data, "Heating and ventilation")
unique_features

{'central heating',
 'combined heating',
 'conditioner',
 'electric heating',
 'fireplace',
 'gas',
 'gas heating',
 'geothermic heating',
 'heated floors',
 'liquid fuel',
 'solid fuel',
 'stove heating',
 'õhksoojuspump'}

Extract categorical features from "Heating and ventilation"

In [22]:
data_addition = []

for i in data["Heating and ventilation"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("heating") != -1:
                current = feature.strip().split()[0]
            elif feature.find("õhksoojuspump") != -1:
                current = "Air source heat pump"
    data_addition.append(current)

data["Heating type"] = data_addition

Remove the now separated features from 'unique features'

In [23]:
filtered_unique_features = [ x for x in unique_features if "heating" not in x and 
                                                            "õhksoojuspump" not in x ]

Separate the remaining features

In [24]:
separate(data, filtered_unique_features, "Heating and ventilation")
data.drop(columns=["Heating and ventilation"], inplace=True)

Find unique features in "Communications and security"

In [25]:
unique_features = find_unique_features(data, "Communications and security")
unique_features

{'Internet',
 'cable TV',
 'fenced with garden',
 'frontdoor locked',
 'neighbourhood watch',
 'phone',
 'secure guard',
 'security system',
 'steel door',
 'video cameras'}

Extract features from "Communications and security"

In [26]:
separate(data, unique_features, "Communications and security")
data.drop(columns=["Communications and security"], inplace=True)

Find unique features in "Neighbourhood"

In [27]:
unique_features = find_unique_features(data, "Neighbourhood")
unique_features

{'200 sea',
 '3 km sea',
 'Abja paisjärv lake ',
 'Abja paisjärv lake 1,000 m',
 'Abja paisjärv lake 300 m',
 'Alesti järv lake 11 km',
 'Alesti järv lake 8 km',
 'Alesti lake 8 km',
 'Amme jõgi river 250 m',
 'Amme jõgi river 350 m',
 'Amme river 300 m',
 'Arbi ja Verevi järv lake 400 m',
 'Arbi järv lake 1,000 m',
 'Arbi järv lake 700 m',
 'Aseri sea 5 km',
 'Audru river 1.4 km',
 'Audru river 400 m',
 'Avijõgi river',
 'Avijõgi river 300 m',
 'Balti meri sea 2 m',
 'Balti meri sea 200 m',
 'Balti meri sea 450 m',
 'Baltika sea ',
 'Elva Jõgi river 100 m',
 'Elva jõgi',
 'Elva jõgi river 1,000 m',
 'Emajõgi',
 'Emajõgi Emajõe river 1 m',
 'Emajõgi river',
 'Emajõgi river ',
 'Emajõgi river 1 m',
 'Emajõgi river 1,000 m',
 'Emajõgi river 100 m',
 'Emajõgi river 140 m',
 'Emajõgi river 180 m',
 'Emajõgi river 20 m',
 'Emajõgi river 200 m',
 'Emajõgi river 300 m',
 'Emajõgi river 350 m',
 'Emajõgi river 50 m',
 'Emajõgi river 500 m',
 'Emajõgi river 700 m',
 'Emajõgi river 800 m',
 'Emajõgi river 850 m',
 'Esna järv lake 400 m',
 'HARA LAHT sea 500 m',
 'HARA LAHT sea 600 m',
 'HARKU JÄRV lake 200 m',
 'Haabneeme rand sea ',
 'Haabneeme rand sea 500 m',
 'Haapsalu Eeslaht sea 500 m',
 'Haapsalu laht sea ',
 'Hara laht sea 600 m',
 'Harju järv lake 100 m',
 'Harku Järv lake ',
 'Harku järv lake',
 'Harku järv lake 200 m',
 'Harku järv lake 400 m',
 'Harku järv lake 500 m',
 'Harku järv lake 600 m',
 'Harku järv sea 1.5 km',
 'Harku lake',
 'Harku lake 1,000 m',
 'Harku lake 1.5 km',
 'Harku lake 500 m',
 'Harku lake 900 m',
 'Hurmi järv lake 1,000 m',
 'Ilmatsalu river ',
 'Jagala river',
 'Jägala jõgi river 100 m',
 'Jägala river',
 'Jägala river 10 m',
 'Jägala river 100 m',
 'Jägala river 200 m',
 'Järise lake 1.8 km',
 'Jõelähtme jõgi river 150 m',
 'Kaarnajärv',
 'Kaave river',
 'Kaberneeme laht sea 500 m',
 'Kabli rand sea 150 m',
 'Kadrina paisjärv lake 1.5 km',
 'Kadrina paisjärv lake 750 m',
 'Kahrila lake ',
 'Kaiavere järv lake',
 'Kakumäe laht sea 3 km',
 'Kakumäe laht sea 600 m',
 'Kakumäe rand sea',
 'Kakumäe rand sea ',
 'Kakumäe rand sea 1,000 m',
 'Kakumäe rand sea 1.2 km',
 'Kalporo lake 150 m',
 'Kamari lake',
 'Kambja järv lake ',
 'Kambja järv lake 100 m',
 'Karijärv',
 'Karu lake 5.5 km',
 'Kasari river ',
 'Keeri järv river 500 m',
 'Keibu laht sea 3.7 km',
 'Keila jõgi river',
 'Keila jõgi river ',
 'Keila jõgi river 1,000 m',
 'Keila jõgi river 15 m',
 'Keila jõgi river 2 m',
 'Keila jõgi river 300 m',
 'Keila river',
 'Keila river ',
 'Keila river 100 m',
 'Keila river 150 m',
 'Keila river 50 m',
 'Keila river 500 m',
 'Keila-Joa river 400 m',
 'Keilajõgi river 1,000 m',
 'Kersalu laht sea',
 'Kiidjärv lake 150 m',
 'Kirepi järv lake 1.2 km',
 'Kiriku Järv lake 200 m',
 'Klooga Rand sea 2 km',
 'Klooga järv lake 200 m',
 'Klooga lake',
 'Klooga lake 150 m',
 'Klooga lake 500 m',
 'Klooga rand sea 300 m',
 'Kloostri jõgi river 2 m',
 'Kogre järv lake 900 m',
 'Kolga laht sea 550 m',
 'Kopli laht sea 100 m',
 'Kopli laht sea 700 m',
 'Kopli laht sea 800 m',
 'Krootuse lake 500 m',
 'Kubija järv lake 70 m',
 'Kunda jõgi river 10 m',
 'Kuremaa jäärv lake 1,000 m',
 'Kuremaa lake 13 km',
 'Kurepalu lake',
 'Kurepalu lake ',
 'Kurepalu lake 1,000 m',
 'Kurtna järved lake 6 km',
 'Kuutsemäe tehis järv lake 100 m',
 'Kärdla rand sea 1,000 m',
 'Kääpa jõgi river ',
 'Kõrveküla paisjärv lake ',
 'Kõrveküla paisjärv lake 300 m',
 'Kösti lake 90 m',
 'Laeva river ',
 'Lahepere laht sea',
 'Lahepere laht sea 200 m',
 'Lasnamäe karjäär lake',
 'Laulasmaa rand',
 'Lavi järv lake 400 m',
 'Liimala lake',
 'Liiva järv lake 300 m',
 'Liivi jõgi river 15 m',
 'Liivi laht sea ',
 'Liivi laht sea 300 m',
 'Lintsi river',
 'Lohusalu rand sea 1.5 km',
 'Làànemeri sea 1.5 km',
 'Lämmijärv lake ',
 'Läänemeri sea 1,000 m',
 'Läänemeri sea 1.3 km',
 'Läänemeri sea 1.5 km',
 'Läänemeri sea 400 m',
 'Läänemeri sea 5 m',
 'Läänemeri sea 50 m',
 'Maaliliste kallastega Obinitsa lake 700 m',
 'Maardu järv lake 6 m',
 'Maardu lake 500 m',
 'Maidla river 1,000 m',
 'Matsalu laht sea 1,000 m',
 'Matsalu laht sea 1.5 km',
 'Matsalu laht sea 100 m',
 'Melliste järv lake 200 m',
 'Meri/ Stroomi rand sea 1.3 km',
 'Meri/ Stroomi rand sea 950 m',
 'Must river',
 'Mustjõgi river 325 m',
 'Muuga laht sea 2.7 km',
 'Männiku karjaar lake 5 km',
 'Mõrajõgi river ',
 'Nahajärv lake',
 'Narova river',
 'Narova river 200 m',
 'Narova river 300 m',
 'Narova river 50 m',
 'Narova river river 440 m',
 'Narva jõgi river',
 'Navesti river 500 m',
 'Näss lake',
 'Nässimõisa järv lake 1 m',
 'Nõo Veskijärv lake 1,000 m',
 'Nõo Veskijärv lake 100 m',
 'Nõo Veskijärv lake 400 m',
 'Nõuni järv lake 120 m',
 'Nüpli järv lake 2.6 km',
 'Obinitsa järv lake 250 m',
 'Orava lake 120 m',
 'Paala järv',
 'Paala järv lake 1,000 m',
 'Paala järv lake 100 m',
 'Paala järv lake 900 m',
 'Paala lake',
 'Pada river ',
 'Pae järv lake ',
 'Pae järv lake 300 m',
 'Pae lake 150 m',
 'Pae lake 200 m',
 'Pae lake 300 m',
 'Pae lake 850 m',
 'Paekna lake 35 m',
 'Paepargi lake 1,000 m',
 'Paide Tehisjärv lake 1.9 km',
 'Paide tehisjärv lake 7 km',
 'Paide tehisjärv lake 800 m',
 'Painküla lake 300 m',
 'Paisjärv lake 300 m',
 'Paldiski laht sea 800 m',
 'Pangodi lake',
 'Pangodi lake ',
 'Pangodi lake 1,000 m',
 'Pangodi lake 3 km',
 'Pannijarv lake 1.5 km',
 'Paralepa rand sea 1 m',
 'Paralepa rand sea 400 m',
 'Paralepa sea 2 km',
 'Pedeli jõgi river ',
 'Pedeli river',
 'Pedeli river 1,000 m',
 'Pedeli river 50 m',
 'Pedeli river 60 m',
 'Pedja jõgi river 200 m',
 'Pedja river',
 'Pedja river 1.5 km',
 'Pedja river 150 m',
 'Pedja river 500 m',
 'Pedja river 700 m',
 'Pedja river 80 m',
 'Peeli jõgi river 30 m',
 'Peipsi Järv lake',
 'Peipsi Järv lake ',
 'Peipsi järv lake ',
 'Peipsi järv lake 150 m',
 'Peipsi järv lake 250 m',
 'Peipsi järv lake 3 m',
 'Peipsi järv lake 500 m',
 'Peipsi järv river 7 km',
 'Peipsi järve lake 10 km',
 'Peipsi lake ',
 'Peipsi lake 1 m',
 'Peipsi lake 1,000 m',
 'Peipsi lake 100 m',
 'Peipsi lake 2.2 km',
 'Peipsi lake 350 m',
 'Peipsi lake 50 m',
 'Peipsi lake 500 m',
 'Piilsi river ',
 'Pikkjärve lake 4 km',
 'Pilistvere järv lake 600 m',
 'Pirita jõgi river',
 'Pirita jõgi river ',
 'Pirita jõgi river 1,000 m',
 'Pirita jõgi river 1.2 km',
 'Pirita jõgi river 150 m',
 'Pirita jõgi river 2 m',
 'Pirita jõgi river 30 m',
 'Pirita jõgi river 300 m',
 'Pirita jõgi river 500 m',
 'Pirita lake ',
 'Pirita meri sea 2 km',
 'Pirita rand sea 100 m',
 'Pirita rand sea 2 km',
 'Pirita rand sea 800 m',
 'Pirita river',
 'Pirita river 1,000 m',
 'Pirita river 10 m',
 'Pirita river 100 m',
 'Pirita river 200 m',
 'Pirita river 400 m',
 'Pirita river 700 m',
 'Pirita river 800 m',
 'Pitita Jõgi river 1 m',
 'Piusa river ',
 'Piusa river 50 m',
 'Porkuni järv lake',
 'Porkuni järv lake 3 m',
 'Porkuni lake 200 m',
 'Porkuni lake 6.5 km',
 'Pulli järv lake',
 'Pullijärv lake 100 m',
 'Purtsi river ',
 'PÜHAJÄRV lake 50 m',
 'Pärnamäe veehoidla lake 200 m',
 'Pärnu Jõgi river 700 m',
 'Pärnu Laht sea 4 m',
 'Pärnu jõgi river',
 'Pärnu jõgi river ',
 'Pärnu jõgi river 1,000 m',
 'Pärnu jõgi river 10 m',
 'Pärnu jõgi river 100 m',
 'Pärnu jõgi river 20 m',
 'Pärnu jõgi river 200 m',
 'Pärnu jõgi river 300 m',
 'Pärnu jõgi river 350 m',
 'Pärnu jõgi river 50 m',
 'Pärnu jõgi river 500 m',
 'Pärnu jõgi river 700 m',
 'Pärnu jõgi sea',
 'Pärnu laht',
 'Pärnu laht sea 1,000 m',
 'Pärnu laht sea 1.2 km',
 'Pärnu laht sea 1.4 km',
 'Pärnu laht sea 400 m',
 'Pärnu laht sea 450 m',
 'Pärnu rand sea',
 'Pärnu rand sea 400 m',
 'Pärnu rand sea 800 m',
 'Pärnu rand sea 900 m',
 'Pärnu river',
 'Pärnu river ',
 'Pärnu river 100 m',
 'Pärnu river 200 m',
 'Pärnu river 30 m',
 'Pärnu river 300 m',
 'Pärnu river 350 m',
 'Pärnu river 400 m',
 'Pärnu river 500 m',
 'Pärnu river 60 m',
 'Pärnu river 650 m',
 'Pärnu river 700 m',
 'Pärnu river 800 m',
 'Pärnu sea',
 'Pärnu sea ',
 'Pärnu sea 500 m',
 'Pärnu sea 700 m',
 'Pääsküla river',
 'Pääsküla river 300 m',
 'Põhtjärv lake 80 m',
 'Põhu järv lake ',
 'Põltsamaa jõgi river 100 m',
 'Põltsamaa jõgi river 700 m',
 'Põltsamaa river ',
 'Põlva järv lake 2 km',
 'Põlva lake 500 m',
 'Põlva paisjärv lake',
 'Põlva tehisjärv lake 200 m',
 'Pühajärv',
 'Pühajärv lake 1 m',
 'Pühajärv lake 7 km',
 'Pühajärv lake 850 m',
 'Raadi järv lake 550 m',
 'Raadi lake',
 'Rahinge Järv lake 350 m',
 'Raigastvere lake 300 m',
 'Raku järv lake 2 m',
 'Raku lake 1,000 m',
 'Rannapaargu ujumisrand/Hausma tee otsa ujumiskoht sea 600 m',
 'Rannu paisjärv lake ',
 'Rautina lake',
 'Reiu river',
 'Reiu river ',
 'Reiu river 300 m',
 'Riiska järv ca 300m ja vanamõisa järv ca600m lake',
 'Riiska lake ',
 'Riiska lake 500 m',
 'Riiska lake 800 m',
 'Ropka lake 2 km',
 'Ropka paisjärv lake 50 m',
 'Rummu karjäär lake',
 'Rummu karjäär lake 6 m',
 'Rummu karjäär lake 650 m',
 'Rummu lake 4 km',
 'Rummu карьер lake 650 m',
 'Ruusmäe lake 350 m',
 'Räpina lake 150 m',
 'Räpina pais lake ',
 'Räpina paisjärv lake 50 m',
 'Räägu veehoidla river 1.5 km',
 'Saadjärv lake',
 'Saadjärv lake ',
 'Saadjärv lake 400 m',
 'Saadjärv lake 6 km',
 'Sauga jõgi river 200 m',
 'Sauga river',
 'Sauga river ',
 'Sauga river 300 m',
 'Selja jõgi river 100 m',
 'Soome laht sea',
 'Soome laht sea 100 m',
 'Soome laht sea 150 m',
 'Soome laht sea 2.5 km',
 'Soome laht sea 200 m',
 'Soome laht sea 3 km',
 'Soome laht sea 600 m',
 'Soome laht sea 9 km',
 'Soomelaht sea',
 'Stromka sea 100 m',
 'Stroomi rand sea',
 'Stroomi rand sea ',
 'Stroomi rand sea 1.5 km',
 'Stroomi rand sea 1.8 km',
 'Stroomi rand sea 2 km',
 'Stroomi rand sea 2 m',
 'Stroomi rand sea 200 m',
 'Stroomi rand sea 400 m',
 'Stroomi rand sea 600 m',
 'Stroomi rand sea 700 m',
 'Stroomi sea',
 'Stroomi sea 250 m',
 'Stroomi sea 500 m',
 'Stroomi sea 600 m',
 'Supilinna tiik river 100 m',
 'Suur-Kambja järv lake',
 'Suure-Jaani lake 500 m',
 'Suurupi rand sea 700 m',
 'Sõtke river',
 'Taebla jõgi river ',
 'Taebla jōgi river',
 'Taebla river ',
 'Tallinna laht sea',
 'Tallinna laht sea ',
 'Tallinna laht sea 1 m',
 'Tallinna laht sea 150 m',
 'Tallinna laht sea 300 m',
 'Tallinna laht sea 500 m',
 'Tallinna laht sea 600 m',
 'Tallinna laht sea 85 m',
 'Tallinna laht/ Kakumäe Haven sea 500 m',
 'Tallinna sadam sea ',
 'Tallinna sadam sea 200 m',
 'Tamula Järv lake ',
 'Tamula järv lake 100 m',
 'Tamula lake',
 'Tamula lake ',
 'Tamula lake 1,000 m',
 'Tamula lake 115 m',
 'Tamula lake 200 m',
 'Tamula lake 300 m',
 'Tamula lake 700 m',
 'Tori laht sea 400 m',
 'Torma järv lake 300 m',
 'Türi tehisjärv lake ',
 'Türi tehisjärv lake 200 m',
 'Uljaste järv lake 3 km',
 'Uljaste järv lake 3 m',
 'Uljaste lake ',
 'Uljste lake ',
 'Umbusi Jõgi river 2 m',
 'Umbusi river 800 m',
 'Uue-Kariste lake 1.5 km',
 'VESKI JÄRV lake 80 m',
 'Valgejõgi river 200 m',
 'Valgjärv lake 300 m',
 'Valgjärve lake 30 m',
 'Valgjärve lake 300 m',
 'Vasalemma lake 7 km',
 'Vastemõisa lake 300 m',
 'Vastsemõisa lake ',
 'Vastsemõisa lake 10 m',
 'Vedu Paisjärv 1,5km lake',
 'Vedu paisjärv',
 'Veelikse lake 5 km',
 'Velise jõgi river 1.2 km',
 'Verevi Järv lake 1.5 km',
 'Verevi järv lake 1.2 km',
 'Verevi lake',
 'Verevi lake 600 m',
 'Verijärv lake',
 'Veriora Paisjärv lake 800 m',
 'Veriora järv lake',
 'Vigala river 1,000 m',
 'Vigala river 200 m',
 'Viljandi järv lake',
 'Viljandi järv lake ',
 'Viljandi järv lake 1.2 km',
 'Viljandi järv lake 200 m',
 'Viljandi järv lake 500 m',
 'Viljandi järv lake 750 m',
 'Viljandi järv lake 850 m',
 'Viljandi järve rand lake 3.2 km',
 'Voore paisjärv lake 100 m',
 'Voore paisjörv lake 100 m',
 'Väike väin sea',
 'Väinameri sea 5 km',
 'Vääna Jõgi river 700 m',
 'Vääna jõgi river',
 'Vääna jõgi river 50 m',
 'Vääna-Jõesuu rand sea 2.5 km',
 'Väätsa paisjärv lake',
 'Väätsa paisjärv lake 200 m',
 'Võhandu river',
 'Võhandu river 150 m',
 'Võhandu river 400 m',
 'Võhandu river 500 m',
 'Võhandu river 800 m',
 'Võisiku järv lake 450 m',
 'Võrtsjärv lake',
 'Võrtsjärv lake ',
 'Võrtsjärv lake 1 m',
 'Võrtsjärv lake 200 m',
 'Võrtsjärv lake 50 m',
 'Võrtsjärv lake 7 km',
 'Võrtsjärv lake 9 km',
 'beach length 1,000 m',
 'beach length 100 m',
 'beach length 120 m',
 'beach length 15 m',
 'beach length 150 m',
 'beach length 20 m',
 'beach length 200 m',
 'beach length 22 m',
 'beach length 230 m',
 'beach length 30 m',
 'beach length 300 m',
 'beach length 320 m',
 'beach length 350 m',
 'beach length 40 m',
 'beach length 5 km',
 'beach length 50 m',
 'beach length 500 m',
 'beach length 7 km',
 'beach length 70 m',
 'beach length 700 m',
 'beach length 71 m',
 'beach length 75 m',
 'beach length 85 m',
 'beach length 90 m',
 'eesti top3 rand sea 800 m',
 'emajõgi river 1 m',
 'harku järv lake',
 'in the city location',
 'location in suburb location',
 'location in the center location',
 'location outside settlement location',
 'lähedal lake',
 'near forest',
 'neighbours around neighbours',
 'neighbours at one side neighbours',
 'neighbours farther neighbours',
 'neighbours next to neighbours',
 'roads gravel roads',
 'roads in bad condition roads',
 'roads in good condition roads',
 'roads in satisfactory condition roads',
 'roads paved roads',
 'ropka järv lake 400 m',
 'surrounding buildings apartment buildings',
 'surrounding buildings commercial buildings',
 'surrounding buildings no buildings',
 'surrounding buildings private houses',
 'surrounding buildings private houses and apartment buildings',
 'surrounding buildings warehouses and production buildings',
 'tiru lake 2 km',
 'tiru lake 6 km',
 'tiskre river 100 m',
 'vääna-jõesuu rand sea 2.2 km',
 'võsu rand sea 1,000 m',
 'water body Anne kanal near',
 'water body Audru 1.4 km',
 'water body Emajõgi 1,000 m',
 'water body Emajõgi 300 m',
 'water body Emajõgi 400 m',
 'water body Emajõgi 50 m',
 'water body Emajõgi 700 m',
 'water body Emajõgi near',
 'water body Haapsalu tagalaht 50 m',
 'water body Helme jõgi 100 m',
 'water body Kambja järv 500 m',
 'water body Kanarikumäe near',
 'water body Karujärv 30 m',
 'water body Koiva jõgi 4 m',
 'water body Kubja järv near',
 'water body Kunda rand 3.5 km',
 'water body Kurepalu järv near',
 'water body Kõrevküla paisjärv 300 m',
 'water body Lahepere laht near',
 'water body Läänemeri 300 m',
 'water body Meri 3 m',
 'water body Nõo Veskijärv 1,000 m',
 'water body Paala järv 750 m',
 'water body Paide tehisjärv 800 m',
 'water body Parditiik 400 m',
 'water body Pedeli jõgi near',
 'water body Peipsi 200 m',
 'water body Pirita jõgi 800 m',
 'water body Pirita jõgi near',
 'water body Promenaad ja Aafrika rand 600 m',
 'water body Pulli järv 85 m',
 'water body Pärnu jõgi 600 m',
 'water body Pärnu laht 280 m',
 'water body Pärnu rand 800 m',
 'water body Pääsküla jõgi 550 m',
 'water body Rahinge järv 300 m',
 'water body Roiu järv 50 m',
 'water body Saadjärv 400 m',
 'water body Saadjärv 500 m',
 'water body Saadjärv near',
 'water body Stroomi rand near',
 'water body Suur Tiik 350 m',
 'water body Tallinna Laht 150 m',
 'water body Tarakvere paisjärv near',
 'water body Tiik near',
 'water body Umbusi jõgi near',
 'water body Vastsemõisa 10 m',
 'water body Viljandi järv near',
 'water body Võrtsjärv 2 m',
 'water body body of water 350 m',
 'water body body of water 50 m',
 'water body body of water near',
 'water body lake 1 m',
 'water body lake 1,000 m',
 'water body lake 10 m',
 'water body lake 100 m',
 'water body lake 150 m',
 'water body lake 2 km',
 'water body lake 2 m',
 'water body lake 200 m',
 'water body lake 250 m',
 'water body lake 3 km',
 'water body lake 30 m',
 'water body lake 300 m',
 'water body lake 400 m',
 'water body lake 5 m',
 'water body lake 50 m',
 'water body lake 600 m',
 'water body lake 700 m',
 'water body lake 800 m',
 'water body lake 900 m',
 'water body lake near',
 'water body meri 3 km',
 'water body meri 300 m',
 'water body männi mets near',
 'water body river 1 m',
 'water body river 1,000 m',
 'water body river 10 m',
 'water body river 100 m',
 'water body river 2 km',
 'water body river 20 m',
 'water body river 200 m',
 'water body river 3 km',
 'water body river 300 m',
 'water body river 40 m',
 'water body river 400 m',
 'water body river 5 m',
 'water body river 50 m',
 'water body river near',
 'water body sea 1 m',
 'water body sea 1,000 m',
 'water body sea 1.4 km',
 'water body sea 1.5 km',
 'water body sea 1.6 km',
 'water body sea 1.9 km',
 'water body sea 100 m',
 'water body sea 15 km',
 'water body sea 150 m',
 'water body sea 16 km',
 'water body sea 2 km',
 'water body sea 2 m',
 'water body sea 2.5 km',
 'water body sea 200 m',
 'water body sea 25 km',
 'water body sea 250 m',
 'water body sea 260 m',
 'water body sea 3 km',
 'water body sea 300 m',
 'water body sea 350 m',
 'water body sea 400 m',
 'water body sea 50 m',
 'water body sea 500 m',
 'water body sea 6 km',
 'water body sea 600 m',
 'water body sea 700 m',
 'water body sea 75 m',
 'water body sea 8 km',
 'water body sea 800 m',
 'water body sea 900 m',
 'water body sea near',
 'water body tiik near',
 'water body water body other 1,000 m',
 'water body water body other 20 m',
 'water body water body other 5 m',
 'water body water body other 50 m',
 'water body water body other 500 m',
 'water body water body other near',
 'water body Ülemiste järv 500 m',
 'water body: Aavoja',
 'water body: Anne Kanal 2 km',
 'water body: Anne kanal',
 'water body: Anne kanal 1.7 km',
 'water body: Anne kanal 500 m',
 'water body: Bekker sadam 500 m',
 'water body: Hargla oja ',
 'water body: Konnaoja 5 m',
 'water body: Kõpu tiik 2.4 km',
 'water body: Männiku karjäär ',
 'water body: Pähni oja ',
 'water body: Pärnu jõgi ja laht ',
 'water body: Põhjakalda tiik',
 'water body: Roosna-Alliku tehisjärv 2.2 km',
 'water body: Rummu Karjaar ',
 'water body: Rummu karjäär',
 'water body: Rummu karjäär 1.5 km',
 'water body: Siimo oja 60 m',
 'water body: Säde tiik 20 m',
 'water body: Taebla jõgi 500 m',
 'water body: Tiik',
 'water body: Tiik ',
 'water body: Tiik 200 m',
 'water body: Värska laht 50 m',
 'water body: oja',
 'water body: oma tiik ',
 'water body: tiik',
 'water body: tiik ',
 'water body: tiik 300 m',
 'water body: tiik oma aias ',
 'water body: väike tiik 15 m',
 'water body: Румму карьер 500 m',
 'Äntu järved',
 'Äntu järved lake ',
 'Õhne jõgi river ',
 'Õhne river',
 'Õhne river 12 m',
 'Ülemine järv lake 5 m',
 'Ülemiste järv lake',
 'Ülemiste järv lake ',
 'Ülemiste järv lake 200 m',
 'Ülemiste lake',
 'Ülemiste lake ',
 'Ülemiste lake 100 m',
 'Ülemiste lake 800 m',
 'Üvvajärv lake 5 m',
 'õhne river 700 m',
 'Štromi rand sea 700 m',
 'Балтийское sea 1.5 km',
 'Балтийское море',
 'Балтийское море sea 2 km',
 'Залив Лохусалу sea 1.8 km',
 'Мяннику карьер lake 300 m',
 'Пляж sea 2 km',
 'Финский залив sea 100 m',
 'Финский залив sea 700 m',
 'залив sea 12.7 km',
 'финский залив sea'}

In [28]:
filtered_unique_features = [ x for x in unique_features if "sea" not in x and 
                                                            "meri" not in x and
                                                            "river" not in x and
                                                            "lake" not in x and
                                                            "tiik" not in x and
                                                            "Tiik" not in x and
                                                            "Oja" not in x and
                                                            "oja" not in x and
                                                            "karjäär" not in x and
                                                            "карьер" not in x and
                                                            "water body" not in x and
                                                            "beach length" not in x and
                                                            "laht" not in x and
                                                            "rand" not in x and
                                                            "jõgi" not in x and
                                                            "järv" not in x and
                                                            "море" not in x ]
filtered_unique_features

['surrounding buildings apartment buildings',
 'neighbours farther neighbours',
 'surrounding buildings warehouses and production buildings',
 'neighbours at one side neighbours',
 'in the city location',
 'surrounding buildings commercial buildings',
 'location in the center location',
 'roads in satisfactory condition roads',
 'neighbours around neighbours',
 'neighbours next to neighbours',
 'surrounding buildings no buildings',
 'surrounding buildings private houses and apartment buildings',
 'roads paved roads',
 'roads in bad condition roads',
 'location in suburb location',
 'location outside settlement location',
 'surrounding buildings private houses',
 'near forest',
 'roads in good condition roads',
 'roads gravel roads']

Extract features from "Neighbourhood

In [29]:
data_addition = []

for i in data["Neighbourhood"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("condition") != -1:
                current = feature.strip().split()[2]
    data_addition.append(current)

data["Road condition"] = data_addition

In [30]:
data_addition = []

for i in data["Neighbourhood"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("condition") == -1:
                if feature.find("roads") != -1:
                    current = feature.strip().split()[1]
    data_addition.append(current)

data["Road type"] = data_addition

In [31]:
data_addition = []

for i in data["Neighbourhood"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("surrounding") != -1:
                current = ' '.join(feature.strip().split()[2:])
    data_addition.append(current)

data["Surrounding buildings"] = data_addition

In [32]:
data_addition = []

for i in data["Neighbourhood"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("location") != -1:
                if feature.find("city") != -1:
                    current = ' '.join(feature.strip().split()[0:-1])
                else:
                    current = ' '.join(feature.strip().split()[1:-1])
    data_addition.append(current)

data["Location type"] = data_addition

In [33]:
data_addition = []

for i in data["Neighbourhood"].values:
    current = np.nan

    if not pd.isna(i):
        features = i.strip().split(", ")

        for feature in features:
            if feature.find("neighbours") != -1:
                current = ' '.join(feature.strip().split()[1:])
                
    data_addition.append(current)

data["Nearby neighbours"] = data_addition

In [34]:
def separate_synonyms(dataset, uniques, column):
    for unique_features in uniques:
        data_addition = []

        for i in data[column].values:
            current = False

            if not pd.isna(i):
                features = i.strip().split(", ")

                for feature in features:
                    for unique_feature in unique_features:
                        if feature.find(unique_feature) != -1:
                            current = True
            data_addition.append(current)
        dataset[unique_features[0]] = data_addition
    

separate_synonyms(data, 
                  [['forest'], ['sea', 'meri', 'laht', 'море', 'rand'], 
                   ['river', 'jõgi'], ['lake', 'järv'], 
                   ['stream', 'oja', 'Oja'], 
                   ['pond', 'tiik', 'Tiik']], 
                  "Neighbourhood")

data.drop(columns=["Neighbourhood"], inplace=True)

Separate 'This floor/Number of floors' column

In [35]:
data_addition_this = []
data_addition_numberof = []

for i in data["This floor/Number of floors"].values:
    current_this = np.nan
    current_numberof = np.nan
    
    if not pd.isna(i):
        features = i.strip().split("/")
        if len(features) == 2:
            current_this = features[0]
            current_numberof = features[1]
        
    data_addition_this.append(current_this)
    data_addition_numberof.append(current_numberof)

data["This floor"] = data_addition_this
data["Total number of floors"] = data_addition_numberof

data.drop(columns=["This floor/Number of floors"], inplace=True)

Separate the location into latitude and longitude.

In [36]:
#data[["Latitude", "Longitude"]] = data.Location.str.split(",", expand=True)
#data["Latitude"] = data["Latitude"].astype(float)
#data["Longitude"] = data["Longitude"].astype(float)
#data.drop(columns=["Location"], inplace=True)
#data.values[:][0]

## Simple data type conversions

Remove the m2 from the area field to convert them to numeric.

In [37]:
data["Total area"] = data['Total area'].astype('str').map(lambda x: x.split()[0]).astype('float64') #remove m2
data["Ground area"] = data['Ground area'].astype('str').map(lambda x: x.split()[0]).astype('float64') #remove m2

Convert the "Energy mark" into a number.

In [38]:
def remap_column(data, column, mapping):
    data[column] = data[column].map(mapping)

In [39]:
data["Energy mark"].unique()
# data["Energy mark"] = data["Energy mark"].map({'C': 2, 'B': 1, np.nan: 0, '-': 0, 'Missing': 0, 'A': 0, 'H': 7, 'E': 4, 'D': 3, 'G': 6, 'F': 5})
remap_column(data, "Energy mark", {'C': 2, 'B': 1, np.nan: 8, '-': 8, 'Missing': 8, 'A': 0, 'H': 7, 'E': 4, 'D': 3, 'G': 6, 'F': 5})
data["Energy mark"].unique()

array(['-', nan, 'Missing', 'E', 'A', 'B', 'C', 'H', 'D', 'G', 'F'],
      dtype=object)

array([8, 4, 0, 1, 2, 7, 3, 6, 5], dtype=int64)

In [40]:
data["Condition"].unique()
remap_column(data, "Condition", {'all brand-new': 6, 'Good condition': 5, 'ready': 5, 'needs renovating': 0, 'satisfactory': 1, np.nan: 1, 'sanitary renovation needed': 2, 'renovated': 4,'sanitary renovation done': 3})
data["Condition"].unique()

array(['needs renovating', 'all brand-new', 'Good condition', 'ready',
       'sanitary renovation needed', 'renovated', nan, 'satisfactory',
       'sanitary renovation done'], dtype=object)

array([0, 6, 5, 2, 4, 1, 3], dtype=int64)

In [41]:
data["Readiness"].unique()
remap_column(data, "Readiness", {'ready': 4, 'roofed box': 2, np.nan: 4, 'box with doors and windows': 3, 'roofless box': 1, 'foundation': 0})
data["Readiness"].unique()

array(['ready', nan, 'roofed box', 'box with doors and windows',
       'roofless box', 'foundation'], dtype=object)

array([4, 2, 3, 1, 0], dtype=int64)

In [42]:
data["Ownership"].unique()
data = pd.get_dummies(data, columns=["Ownership"])

array([nan, 'private property', 'apartment ownership', 'movable',
       'joint ownership', 'apartment association', 'building lease',
       'logical part'], dtype=object)

## Dealing with NaN values

In [43]:
# Create a function to assist in removing invalid values.
def fill_na_with_number(data, column, number):
    return data[column].fillna(value=number, inplace=True)
    
def fill_na_with_mode(data, column):
    return data[column].fillna(value=data[column].mode().values[0], inplace=True)

def fill_na_with_mean(data, column):
    return data[column].fillna(value=data[column].mean(), inplace=True)

We have no use for any data, that doesn't have price

In [44]:
data = data[data['Price'].notna()]

Before dealing with NaN values, it needs to be determined, what are the problematic columns

In [45]:
def get_percent_of_na(data, column):
    return round(data[column].isna().sum() / len(data) * 100, 2)

bad_columns = []
for column in data.columns:
    percent = get_percent_of_na(data, column)
    #print(percent, "%  >>    ", column)
    if percent > 30:
        print(percent, "%  >>    ", column)
        bad_columns.append(column)

64.36 %  >>     Number of floors
72.14 %  >>     Ground area
77.77 %  >>     Bedrooms
88.69 %  >>     Register number
92.76 %  >>     Additional information
57.06 %  >>     Parking
82.08 %  >>     Wall
81.38 %  >>     Roof
92.41 %  >>     Kitchen size
53.29 %  >>     Stove type
69.35 %  >>     Road condition
93.58 %  >>     Road type
71.24 %  >>     Surrounding buildings
71.81 %  >>     Location type
79.87 %  >>     Nearby neighbours
38.51 %  >>     This floor
38.51 %  >>     Total number of floors

In [46]:
bad_columns.remove('Ground area')
fill_na_with_number(data, 'Ground area', 0) #this is better to be filled with zeros than remove

bad_columns.remove('Number of floors')
fill_na_with_number(data, 'Number of floors', 1) #this is better to be filled with ones than remove
bad_columns.remove('This floor')
fill_na_with_number(data, 'This floor', 1) #this is better to be filled with ones than remove
bad_columns.remove('Total number of floors')
fill_na_with_number(data, 'Total number of floors', 1) #this is better to be filled with ones than remove

data = data.drop(columns=bad_columns)

In [47]:
for column in data.columns:
    percent = get_percent_of_na(data, column)
    #print(percent, "%  >>    ", column)
    if percent > 0:
        print(percent, "%  >>    ", column)

4.73 %  >>     Rooms
1.9 %  >>     Total area
17.04 %  >>     Built in year
23.46 %  >>     Heating type

In [48]:
#data.dtypes
data[["Rooms", "Total area", "Built in year", "Heating type"]].describe(include=[float, int, object, bool])

              Rooms     Total area  Built in year Heating type
count   6867.000000    7071.000000    5980.000000         5517
unique          NaN            NaN            NaN            7
top             NaN            NaN            NaN      central
freq            NaN            NaN            NaN         2707
mean       3.410951     221.183439    1985.733779          NaN
std        2.375177    2447.078674      62.788170          NaN
min        1.000000       1.000000       1.000000          NaN
25%        2.000000      48.700000    1969.000000          NaN
50%        3.000000      71.100000    1994.000000          NaN
75%        4.000000     124.000000    2021.000000          NaN
max       47.000000  114300.000000    2105.000000          NaN

In [49]:
fill_na_with_mode(data, "Rooms")
fill_na_with_mean(data, "Total area")
fill_na_with_mode(data, "Built in year")
fill_na_with_mode(data, "Heating type")

In [50]:
for column in data.columns:
    percent = get_percent_of_na(data, column)
    #print(percent, "%  >>    ", column)
    if percent > 0:
        print(percent, "%  >>    ", column)

# Final analysis

In [51]:
data

data.dtypes.unique()

,Price,Rooms,Total area,Number of floors,Condition,Readiness,Ground area,Energy mark,Built in year,population,Building type,id,Balcony,Balcony size,Distance from Tallinn,box-room,deep well,high ceilings,garret,TV-set,sewerage,new electricity,new sewerage,urban water,closed courtyard,terrace,public transport,local water,basement,parquet,furniture,separate entryway,fenced with garden,street entrance,farm building,gas,goods lift,organisation through the few floors,liquid fuel,show case windows,furnishing possibility,lift,water,open kitchen,3*380V,ventilation,near forest,packet windows,garage,kitchen,cloak room,well,underground garage,frontdoor locked,separate rooms,dressing room,electricity,trestle,kitchen furniture,refridgerator,toilet room and bathroom separate,sauna,water boiler,pool,bath,shower,washing machine,Heating type,fireplace,solid fuel,conditioner,heated floors,security system,cable TV,steel door,Internet,video cameras,neighbourhood watch,phone,secure guard,forest,sea,river,lake,stream,pond,This floor,Total number of floors,Ownership_apartment association,Ownership_apartment ownership,Ownership_building lease,Ownership_joint ownership,Ownership_logical part,Ownership_movable,Ownership_private property
0,69000.0,5.0,81.5,2.0,0,4,858.0,8,2022.0,3053.0,0,1,0,0.0,0.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,central,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,1,1,0,0,0,0,0,0,0
1,240000.0,4.0,160.3,1.0,6,4,69200.0,8,2019.0,6.0,0,2,0,0.0,0.0,False,False,False,False,False,False,True,False,False,True,False,False,True,False,True,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False,True,False,False,True,True,True,False,False,True,False,True,True,False,True,True,False,geothermic,False,False,False,False,False,False,True,False,True,False,False,False,True,False,True,False,False,False,1,1,0,0,0,0,0,0,1
2,550000.0,6.0,267.3,2.0,5,4,846.0,8,2022.0,373.0,0,3,1,9.7,0.0,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,True,True,True,True,False,False,True,True,False,geothermic,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,1,1,0,0,0,0,0,0,1
3,280000.0,4.0,122.0,2.0,5,4,0.0,8,2006.0,95.0,0,4,0,0.0,0.0,True,False,False,False,True,False,False,False,False,False,True,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,central,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,1,0,0,0,0,0,0,1
4,95000.0,3.0,81.0,1.0,5,4,21100.0,8,1911.0,8.0,0,5,0,0.0,0.0,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,True,False,False,Air source heat pump,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,299500.0,4.0,123.4,1.0,5,4,1702.0,0,2009.0,23.0,2,7429,0,0.0,0.0,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,True,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,gas,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,2,2,0,1,0,0,0,0,0
497,265000.0,4.0,98.9,2.0,5,4,0.0,8,2007.0,1485.0,2,7430,1,8.0,0.0,True,False,False,False,True,True,False,False,True,False,True,True,True,False,True,True,False,True,False,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,True,True,False,True,True,True,gas,True,False,False,True,False,True,False,True,False,True,False,False,False,False,False,False,False,False,1,1,0,0,0,0,0,0,0
498,209000.0,5.0,188.8,2.0,5,4,5905.0,8,1990.0,284.0,2,7431,1,4.4,0.0,False,False,False,False,False,True,False,False,True,True,True,True,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,True,True,True,True,False,False,True,True,True,central,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,1,1,0,1,0,0,0,0,0
499,330000.0,4.0,144.3,2.0,6,4,1799.0,8,2021.0,663.0,2,7432,1,0.0,0.0,True,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,True,False,True,False,False,False,True,True,False,False,True,True,False,Air source heat pump,True,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,1,1,0,1,0,0,0,0,0
500,235000.0,4.0,101.1,2.0,6,4,1024.0,0,2022.0,156.0,2,7433,1,5.4,0.0,True,False,False,False,False,True,False,False,True,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,Air source heat pump,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,1,0,1,0,0,0,0,0

array([dtype('float64'), dtype('int64'), dtype('int32'), dtype('bool'),
       dtype('O'), dtype('uint8')], dtype=object)

In [52]:
print("The number of NaN values in this dataset is: ", sum(data.isna().sum()))

The number of NaN values in this dataset is:  0

In [54]:
data.to_csv("cleaned_data.csv", index=False)